::ng-deep.mainSideMenu{
    .sideMenuLogo{
        img{
            height: 80px;
        }
    }
    .menulist{
        height: calc(100vh - 115px);
        overflow: auto;
        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
            font-size: 14px;
            width: 144px;
        }
        .mat-expansion-panel-header.mat-expanded {
            height: 55px;
        }
        .mat-expansion-panel-body{
            padding-left: 15px;
            padding-top: 0px;
            padding-bottom: 3px;
            p{
                margin-bottom: 0px;
                font-size: 14px;
                line-height: 33px;
            }
        }
    }
}