<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-"> Oprations  / Leaves</h3>
            <div></div>
        </div>
    </div>

    <mat-card>
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group>
                    <mat-tab label="balance"> 
                        <div class="row">
                            <div class="col-md-12">
                                <app-balance></app-balance>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="request">Request </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card>

</div>
