mat-form-field {
    width: 100%;
}

// .cdk-global-overlay-wrapper,
// .cdk-overlay-container {
//     z-index: 10000 !important;
// }

.mat-calendar-body-selected {
    background-color: $bgGreen;
}
.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    background-color: $dark_green;
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: $textRed;
}
::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: $dark_green;
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: $dark_green;
       }
    }
 }

 .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $bgGreen;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $bgGreen;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $bgGreen;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color: $bgGreen;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $dark_green !important;
   }
  
   .mat-form-field-underline {
    /*change color of underline*/
    background-color: $dark_green !important;
  } 
  
  .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: $dark_green !important;;
  }
  .searchFilter .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    height: 70px;
  }
  .fontSizetable{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.3px;
}